<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Form</title>
  </head>
  <body>
    <h1>Add a Teacher</h1>

    <form action="{% url 'insert_teacher' %}" method="post">
      {% csrf_token %}
      <label for="name">First Name:</label>
      <input type="text" id="fname" name="fname" required />
      <br /><br />

      <label for="name">Last Name:</label>
      <input type="text" id="lname" name="lname" required />
      <br /><br />

      <label for="name">Email:</label>
      <input type="text" id="email" name="email" required />
      <br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
